@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  text-transform: capitalize;
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  text-transform: capitalize;
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  text-transform: capitalize;
  font-size: 20px;
  color: #222;
}

h6 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 12px;
}

p {
  text-transform: capitalize;
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  background-color: rgb(253, 253, 253);
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgb(221, 234, 240);
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;

  #navbar {
    display: flex;
    justify-content: space-evenly;

    li {
      list-style: none;
      padding: 0 0.8rem;
      position: relative;

      a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        color: #1a1a1a;
        transition: color 0.3s ease;
      }

      a:hover,
      a.active {
        color: #088178;
      }

      a.active::after,
      a:hover::after {
        content: "";
        width: 35%;
        height: 2px;
        background: #088178;
        position: absolute;
        bottom: -0.2rem;
        left: 0.8rem;
      }
    }
  }
}

#hero {
  background-image: url("../img/hero4.png");
  height: 90vh;
  width: 100%;
  background-position: top 25% right 10%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  h4 {
    padding-bottom: 15px;
  }

  h1 {
    color: #088178;
  }

  button {
    background-image: url("../img/button.png");
    background-color: transparent;
    border: 0;
    color: #088178;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
  }
}
